$blue:    #2E90FA;
$indigo:  #6172F3;
$purple:  #9E77ED;
$pink:    #EE46BC;
$red:     #F04438;
$orange:  #FB6514;
$yellow:  #ffc107;
$green:   #12B76A;
$teal:    #20c997;
$cyan:    #0dcaf0;
$white: #ffffff;


$primary:   $purple;
$success:   $green;
$info:      $cyan;
$warning:   $orange;
$danger:    $red;


$text-color: #667085;