.footer {
  .footer-item-title {
    color: #9aa4b5;
    font-size: .9rem;
    font-weight: bold;
  }
  .footer-ul {
    list-style: none;
    padding: 0;

    .footer-ul-item, a {
      color: #536071;
      padding: .5rem 0;
      text-decoration: none;
      font-size: 1rem;
    }
  }

  &-logo {
    width: 4rem;

    &-text {
      font-family: "Bungee", cursive;
      font-size: 1.2rem;
      color: #475467;
      display: inline-block;
      vertical-align: middle;
    }
  }

  &-copyright {
    color: #98A2B3;
    display: inline-block;
    vertical-align: middle;
    padding-top: 1rem;
  }
}
